body {
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top {
    width:400px;
    height:220px;
    overflow:hidden;
    position: relative;
}

#bottom {
    width:320px;
    height:212px;
    overflow:hidden;
    margin:0 auto;
}

#snake {
    position: absolute;
    right: 8px;
    bottom: 0px;
}

#logo {
    position: absolute;
    text-align: center;
    left: 8px;
    top: 8px;
}

#ver {
    position: absolute;
    text-align: left;
    left: 8px;
    bottom: 8px;
    color: white;
    font-size: 8px;
}

#logo > * {
    margin: 0px;
}

.metal {
    color: red;
    font-size: 18px;
}

.gear {
    position: relative;
    top: -12px;
    color: white;
    font-size: 20px;
}

.solid {
    position: relative;
    color: white;
    top: -10px;
    font-size: 12px;
}